/* Content */

.content img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1240px) {
    .content {
        width: 863px;
        margin-left: auto;
    }
}

@media (min-width: 1500px) {
    .content {
        width: 880px;
    }
}

@media (max-width: 320px) {
    .main {
        box-sizing: border-box;
        display: grid;
    }


    h1 {
        position: relative;

        font-family: 'RF Dewi', sans-serif;
        font-size: 21px;
        line-height: 1.19em;
        letter-spacing: 0.03em;
        color: white;
    }

    h2 {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 16px;
        line-height: 1.18em;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: black;
        display: flex;
        justify-content: flex-start;
    }


    .lead::first-letter {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 73px;
        letter-spacing: 0.03em;
        color: grey;


        padding: 3px; /* Поля вокруг первой буквы */
        margin-right: 5px; /* Отступ справа */
        float: left; /* Обтекание по правому краю */
    }

    .lead {
        clear: left;
    }

    p {
        font-family: 'RF Dewi', sans-serif;
        font-size: 12px;
        line-height: 1.64em;
        color: black;
    }

    ol {
        list-style: none;
        color: #b1b3b6;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .main {
        box-sizing: border-box;
        display: grid;
    }

    .main--left,
    .main--right {
        box-sizing: border-box;
        display: grid;
    }

    .lead::first-letter {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 73px;
        letter-spacing: 0.03em;
        color: #696969;


        padding: 3px; /* Поля вокруг первой буквы */
        margin-right: 5px; /* Отступ справа */
        float: left; /* Обтекание по правому краю */
    }

    .lead {
        clear: left;
    }
}


@media screen and (min-width: 1024px) {
    .articles__more {
        padding-top: 40px;
    }

    .articles__link {
        font-size: 48px;
    }

    .main--left,
    .main--right {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 48px;
        line-height: 1.2em;
        color: black;
    }

    h2 {
        font-size: 24px;
        line-height: 1.2em;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: black;

        display: flex;
        justify-content: flex-start;
    }

    p {
        font-family: 'RF Dewi', sans-serif;
        font-size: 21px;
        line-height: 1.7em;
        letter-spacing: 0.03em;
        color: black;
    }

    .lead::first-letter{
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 73px;
        letter-spacing: 0.03em;
        color: #696969;


        padding: 0 3px; /* Поля вокруг первой буквы */
        margin-right: 5px; /* Отступ справа */
        float: left; /* Обтекание по правому краю */
    }

    .lead {
        clear: left;
    }


    .article{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

