
.media img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.media figcaption {
    display: block;
    margin-top: 8px;
    font-size: 10px;
    line-height: 1.7;
    font-style: normal;
    color: var(--color-grey-darker);
}
